/* Begin Comments*/

h3#comments{
	font-size:16px;
	color:#5A7C00;
	font-weight:normal;
	border-bottom:1px solid #D8D8D8;
	padding:0 0 10px 0px;
	margin:15px 0 10px 0px;
}

.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	margin:0 0 0 0px;
	}

.commentlist .comment {
	margin: 15px 0 0 0;
	padding: 10px 15px 20px 15px;
	list-style: none;
	background:#fff;
	border:1px solid #D8D8D8;
	}

.commentlist .alt {
	background:#fff;
	}

.commentlist .comment .comment {
	margin: 15px 15px 15px 15px;
	padding: 10px 15px 20px 15px;
	width:auto;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	line-height:18px;
	}
.commentmet_data{
	width:100%;
	overflow:hidden;
}
.commentmet_data td{
	vertical-align:top;
	text-align:left;
}
.commentmet_avatar{
	width:102px;
	padding:15px 0 0 0;
}
.fn, .says, .fn a, .fn a:visited {
  color: #9D9C9D;
  text-transform: capitalize;
}
.commentmet_text{
}
#commentform p {
	margin: 5px 0;
	}

.commentmet_replay{
	width:100%;
	overflow:hidden;
}
.commentmet_replay a{
	float:right;
	display:block;
	text-indent:-9999px;
	text-transform:capitalize;
	width:79px;
	height:20px;
}
.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}
.commentmetadata {
	margin: 0;
	padding:0 0 5px 0;
	color:#636363;
	font-size:12px;
	text-transform:capitalize;

	}
.commentmetadata a{
	color:#70859b;
}
.commentmetadata span{
	color:#70859b;
	font-weight:bold;
}
.commentmet_text{
	font-size:12px;
	color:#000;
}
#respond{
	margin:40px 0 0 0px;
}
#respond h3{
	font-size:16px;
	margin:0 0 5px 0;
	color:#5A7C00;
	font-weight:normal;
	border-bottom:1px solid #D8D8D8;
	padding:0 0 10px 0px;
	margin:0 0 20px 0;
}
#commentform{
	color:#000;
	font-size:12px;
	width:100%;
}
#commentform small{
	position:relative;
	top:-1px;
	font-size:12px;
}
.reply {
  clear: both;
}
#cancel-comment-reply-link{
	font-size:12px;
	color:#000;
}
#commentform a, #commentform small{
	color:#9D9C9D;
}
#commentform input{
	background:#fff;
	border:1px solid #D8D8D8;
	font-size:12px;
	padding:4px;
	color:#000000;
}
#commentform textarea{
	background:#fff;
	border:1px solid #D8D8D8;
	font-size:12px;
	color:#000000;
    width: 100%;
}
#commentform input#submit{
	background:#fff;
	border:1px solid #D8D8D8;
    color: #5A7C00;
    font-size: 11px;
    margin-bottom: 30px;
}
.comment-author img {
  float: left;
  margin-right: 10px;
}
.comment-author {
  margin-bottom: 10px;
}
h3#pings {
  margin: 10px 0;
}
.pinglist {
  line-height: 20px;
}